@media
  (max-width: 1024px) {
    h1 {
      width: 700px;
    }
  }

  @media
  (max-width: 768px) {
    h1 {
      width: 400px;
    }
  }

  @media
  (max-width: 425px) {
    h1 {
      width: 320px;
    }
  }



.home {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}




.search_form {
  max-width: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.search_form input {
  margin-right: 10px;
  width: 50%;
}
/*largura de 50% pra que o buttom fique grande e todo mundo veja. */

.noposts {
  text-align: center;
}

/*quando não há posts encontrados ele alinha ao centro */

.noposts p {
  margin-bottom: 1.5em;
}

.noposts a {
  padding: 10px 25px;
}
