@media
  (max-width: 1200px) {
    .footer {
      width: 1000px;
    }
  }

  @media
  (max-width: 1024px) {
    .footer {
      width: 700px;
    }
  }

  @media
  (max-width: 768px) {
    .footer {
      width: 400px;
    }
  }

  @media
  (max-width: 425px) {
    .footer {
      width: 320px;
    }
  }


.footer {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #edf3f6;
}
