
.post_detail {
  margin-bottom: 2em;
}

.post_detail img {
  max-width: 600px;
}

/*Pra gente ver mais posts na home */

.post_detail h2 {
  margin-bottom: 0.4em;
}

/*Afasta os conteudos em baixo dele */

.post_detail .tags {
  margin-bottom: 1.2em;
  display: flex;
}

.tags p {
  margin-right: 0.5em;
}

.tags span {
  font-weight: bold;
}

.createdby {
  font-style: italic;
  color: #444;
  font-size: 0.8em;
  margin-bottom: 1em;
}
